* {box-sizing: border-box;}
body{
	background:url(bro.jpg) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover; 
	font-family: 'Nunito', sans-serif;
	color: #384047;
}
form{
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
h1{
	margin: 0 0 30px 0;
	text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select{
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
	border-radius: 5px;
}
textarea{
	min-width: 410px;
	max-width: 410px;
	min-height: 50px;
	max-height: 150px;
}
input:focus, textarea:focus{
	box-shadow: 0 0 5px #5fcf80;
	border: 1px solid #5fcf80;
	background: white;
}
input[type="radio"],
input[type="checkbox"]{
	margin: 0 4px 8px 0;
}
input[type="radio"]:checked + label{
	font-weight: bold;
	font-size: 18px;
}
input[type="checkbox"]:checked + label{
	font-weight: bold;
	font-size: 18px;
}
select{
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}
fieldset{
	margin-bottom: 30px;
	border: none;
}
legend{
	display: block;
	margin-bottom: 8px;
}
label.light{
	font-weight: 300;
	display: inline;
}
.section{
	background-color: #5fcf80;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}
button{
	padding: 19px 39px 18px 39px;
	color: #fff;
	background-color: #4bc970;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #3ac162;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1);
	margin-bottom: 10px; 
}
@media screen and (min-width: 480px){
	form {
		max-width: 480px;
	}
}